@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[1440px] px-4 md:px-6 lg:px-10;
}

@layer base {
  /* Global styles */
  body {
    @apply w-full overscroll-none scroll-smooth bg-white;
  }
  * {
    @apply box-border;
  }

  /* Header styles */
  h1 {
    @apply text-2xl font-medium leading-[29px];
  }
}

.Linear {
  background: linear-gradient(180deg, #fe9132 0%, #fe9132 100%);
  box-shadow: 0px -3px 0px 0px #0000001a inset;
}

.But-Btn {
  background: linear-gradient(180deg, #4f4f4f 0%, #323232 100%);
}
